.venue-list {
    position:absolute;
    height: 100vh;
    width: 25%;
    background-color: #D0B47E;
    z-index: 10;
}

.venue-list input {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 3px;
    color: #F0CC87;
    width: 100%;
}
.open-list {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 10;
    background-color: #F0CC87;
    padding: 5px;
    font-size: 1.2rem;
    border: 2px solid #fff;
}

.venue-list ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.3rem;
    list-style: none;
}

.venue-list ul li {
    padding: 5px 0;
}

.selected-venue {
    color: #eee;
    background-color: #332917;
}

.map-container {
    position: absolute;
    width: 75%;
    height: 100vh;
    left: 25%;
}

@media only screen and (max-width: 650px) {
    .venue-list input, .venue-list ul {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .venue-list input, .venue-list ul {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 400px) {
    .venue-list {
        left: -25%;
    }

    .venue-list.show {
        left: 0;
        width: 40%;
    }

    .open-list.closed {
        left: 80%;
    }

    .open-list {
        display:block;
    }
    .map-container {
        left: 0;
        width: 100%;
    }
}